<!DOCTYPE HTML>
<html>
<head>
	<title>David Virgil Naranjo Blog</title>
    {% include meta.html %}
	<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/skel-panels.min.js"></script>
	<script src="/assets/js/init.js"></script>
	<script defer src="/assets/js/code_linenumbers.js"></script>
	
	<noscript>
		<link rel="stylesheet" href="/assets/css/skel-noscript.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/style-desktop.css" />
	</noscript>
</head>
<body>

	<!-- Header -->
	<div id="header">
		{% include nav.html %}
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="#">Big Data and Scala Blog</a></h1>
				<span class="tag">By David Virgil Naranjo</span>
			</div>
		</div>
	</div>
	<!-- Header -->
	{{ content }}
	

<!-- Footer -->
<div id="footer">
	<div class="container">
		<section>
			<header>
				<h2>Contact</h2>
			</header>
			<ul class="contact">
				{% include svg-icons.html %}				
			</ul>
		</section>
	</div>
</div>
{% include analytics.html %}
</body>
</html>
