---
layout: default
---

<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row">

				<!-- Content -->
				<div id="content" class="8u skel-cell-important">
					<section>
					<div class="image full"><img src="/assets/{{ page.featured }}" alt=""></div>						
						<header>
							<h2>{{ page.title }}</h2>
							<span class="byline">{{ page.description }}</span>
						</header>
							{{ page.content | markdownify }}
					</section>
				</div>
				{% include sidebar.html %}
			</div>
		</div>
	</div>
<!-- /Main -->